<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<table class="user">
    <tr>
        <td class="foto"><img src="https://scontent.fcgh7-1.fna.fbcdn.net/v/t1.0-9/56161383_2191357937611311_8783941086553833472_n.jpg?_nc_cat=111&_nc_oc=AQnv1M3nZJfQtAWq4d8y5Q2y31uHp4mzPaTWQnmy7JENghH9zEdvvqG5RX1PpsmHn7xRK6rj80EYhigfsNHMnOxA&_nc_ht=scontent.fcgh7-1.fna&oh=09f9dbd9f116107e89a51cb930c66c6c&oe=5DA35B15" alt="person"></td><td class="name">Gmeireles</td>
    </tr>
</table>

<table>
    <ng-template ngFor let-item [ngForOf]="users" let-i="index" [ngForTrackBy]="trackByFn">
        <tr>
            <td class="foto"><img src="{{users[i].photo}}" alt="person"></td><td class="name">{{users[i].username}}</td>
        </tr>
    </ng-template>
    
        

</table>


