table{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold; 
    color:#fff;
}

table{
    width: 100%;
}

table tr:hover{
    background-color: rgb(50, 51, 54);
}

tr{
    padding:90px
}

.foto {
    width:10%
}
img{
    width:30px;
    height:30px;
    border-radius:500px;
}