<div >
        <div class="example-container">
    
          <h3>Welcome Back!</h3>
    
          <mat-form-field>
            <input matInput placeholder="E-MAIL">
          </mat-form-field>
        
          <mat-form-field>
            <input matInput type='password' placeholder="Password">
          </mat-form-field>
    
          <div class="example-button-row">
              <button mat-raised-button color="primary">Login</button>
              <button mat-raised-button color="primary" (click)="router.navigate(['/create-account']);" >Register</button>
          </div>
        
          <a  href="#">Forgot Password?</a>
    
    
        
        </div>
    </div>