<div >
        <div class="example-container">
    
          <h3>Create Account</h3>
            
          <mat-form-field>
                <input matInput placeholder="Username">
          </mat-form-field>

          <mat-form-field>
             <input matInput placeholder="E-mail">
          </mat-form-field>

          <mat-form-field>
                <input matInput placeholder="Retype E-mail">
          </mat-form-field>

          <mat-form-field>
                <input matInput type='password' placeholder="Password">
          </mat-form-field>

          <div class="example-button-row">
              <button mat-raised-button color="primary">Register</button>
          </div>
        
          <a (click)="goToLogin()"> Back</a>
    
        </div>
    </div>